{% extends "web/m/base.html" %}
{% load i18n %}
{%block header%}
{%trans 'activity detail'%}
{%endblock%}
{%load staticfiles%}

{%block content%}

<div><span>{%trans 'name'%}:</span>{{object.name}}</div>
<div>{%trans 'status'%}:{%trans object.status%}</div>
<div>{%trans 'founder'%}:{{object.founder}}</div>
<div>{%trans 'place'%}:{{object.place}}</div>
<div>{%trans 'address'%}:{{object.place.address}}</div>
<div>{%trans 'start time'%}:{{object.start_time}}</div>
<div>{%trans 'end time'%}:{{object.end_time}}</div>
<div>{%trans 'register deadline'%}:{{object.participate_deadline}}</div>
<div>{%trans 'total cost expected'%}:{{object.total_cost_expected}}</div>
 <div>{%trans 'withhold'%}:{{object.balance_required}}</div>
        <div>{%trans 'real_time cost'%}:{{object.get_each_pay_preview.0}}~{{object.get_each_pay_preview.1}}</div>
        <div style="color:gray">{%trans 'note:real cost will  to the '%}</div>
<div>{%trans 'participants'%}:
    {%for participant in object.participants.all%}
    <span>{{participant.username}}</span>
    {%endfor%}
</div>
        <div>{%trans 'description'%}:{{object.description}}</div>
<div>
    <form method="post" action="{%url 'web:join_activity' object.pk%}">
        {%csrf_token%}
        {#todo: participant no need to see this button#}
        <input type="submit" value="加入"/>
    </form>

</div>
</form>
{%endblock%}