{%load staticfiles%}
{%load i18n%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YiQiWan</title>
    <link rel="stylesheet" href="{%static 'web/jquery/jquery_mobile/css/themes/default/jquery.mobile-1.4.5.min.css'%}">
    <link rel="stylesheet" href="{%static 'web/my.css'%}">
    {%block header_css_ref%}
    {%endblock%}
    <script src="{%static 'web/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'web/jquery/jquery_mobile/jquery.mobile-1.4.5.min.js'%}"></script>
    <script src="{%static 'web/jquery/plugin/jquery.cookie.js'%}"></script>
    {%block header_script_ref%}
    {%endblock%}

    <script>
    $(function(){
     {%block header_script%}
     {%endblock%}
    });



    </script>

</head>
<body>
<div data-url="{{request.get_full_path }}" data-title="{%block page_title%}{%trans '走起'%}{%endblock%}">

    <div data-role="header">
        <div data-role="controlgroup" data-type="horizontal" class="  ui-btn-left">
            <a href="{%url 'web:site_home' %}" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-notext  ui-icon-home ">menu</a>
        </div>
        <h1>
            {%block header%}
            {%endblock%}
        </h1>

        <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="{%url 'web:my_home' %}" class=" ui-btn  ui-shadow ui-corner-all  ui-btn-icon-notext ui-icon-user">啊啊</a>
            <a href="#" class=" ui-btn  ui-shadow ui-corner-all  ui-btn-icon-notext ui-icon-search">v</a>
        </div>

    </div>
    {%block navbar%}
    {%endblock%}
    <div role="main" class="ui-content" data-role="ui-content">
        {%block content%}

        {%endblock%}
    </div>
    {%block footer%}


    {%endblock%}
</div>
</body>
</html>