{% extends "web/m/base.html" %}
{%load staticfiles%}
{%block header%}
<h1>創建活動</h1>
{%endblock%}
{%block content%}

<div>
    {{form.errors}}
    {{except_msg}}
</div>

<form method="post">{%csrf_token%}


    {{ form.place.label_tag }}
    {{form.place}}
    <a href="{%url 'web:my_create_place'%}">创建新地点</a>
    <label for="id_total_cost">活動費用</label>
    {{form.total_cost_expected}}
    {{form.total_cost_max_expected}}
    <label for="id_participant_amount">人數</label>
    {{form.min_participants}} {{form.max_participants}}
    <label for="id_start_time">活动時間</label>
    {{form.start_time}} {{form.end_time}}
    <label for="id_participate_deadline">报名截止时间</label>
    {{form.participate_deadline}}
    <button type="submit">創建活動</button>
</form>


{%endblock%}