{% extends "web/m/base.html" %}
        {% load i18n %}
{%load staticfiles%}
{%block header%}
 {%trans 'create activity'%}
{%endblock%}
{%block content%}

<div>
    {{form.errors}}
    {{except_msg}}
</div>

<form method="post">{%csrf_token%}

    {{ form.name.label_tag }}
    {{form.name}}

    <label for="address">{%trans 'address'%}</label>
    <input type="text" id="address" name="address" value="{{form.place.address}}"/>
    {{ form.total_cost_expected.label_tag }}
    {{form.total_cost_expected}}
    {{form.total_cost_max_expected}}

     {{ form.min_participants.label_tag }}
    {{form.min_participants}} {{form.max_participants}}

   <label for="id_start_time">{%trans 'activity period'%}</label>
    {{form.start_time}} {{form.end_time}}
    {{ form.participate_deadline.label_tag }}
    {{form.participate_deadline}}
     {{ form.description.label_tag }}
    {{form.description}}
    <button type="submit">{%trans 'create activity'%}</button>
</form>


{%endblock%}