{% extends "web/m/base.html" %}
        {% load i18n %}
 {%block header%}
       {%trans 'my profile'%}
        {%endblock%}
{%block content%}
       <div>

 {%if user.is_anonymous %}
            <a href="{%url 'web:login'%}" rel="nofollow">{%trans 'login'%}</a>|<a
                href="{%url 'web:register'%}" rel="nofollow">{%trans 'register'%}</a>|
            {%else%}
            Welcome,{{user}}|<a href="{%url 'web:my_home'%}">{%trans 'my homepage'%}</a>|
            <a href="{%url 'web:logout'%}" rel="nofollow">{%trans 'logout'%}</a>|
            {%endif%}
    </div>
        {%endblock%}