{% extends "web/m/base.html" %}
        {% load i18n %}
 {%block header%}
       {%trans 'my profile'%}
        {%endblock%}
{%block content%}
       <div>

 {%if user.is_anonymous %}
            <a href="{%url 'web:login'%}" rel="nofollow">登录</a>|<a
                href="{%url 'web:register'%}" rel="nofollow">注册</a>|
            {%else%}
            欢迎您,{{user}}|<a href="{%url 'web:my_home'%}">个人中心</a>|
            <a href="{%url 'web:logout'%}" rel="nofollow">注销</a>|
            {%endif%}
    </div>
        {%endblock%}