{% extends "web/m/base.html" %}
{%load staticfiles%}
{% load i18n %}
{%load region_select_tab%}

{%block header_script_ref%}
<link rel="stylesheet" href="{%static 'web/jquery/plugin/jquery-ui.min.css'%}">
<link rel="stylesheet" href="{%static 'web/jquery/plugin/jquery-ui.theme.min.css'%}">


         <script src="{%static 'web/jquery/plugin/jquery.djangocsrf.js'%}" type="text/javascript"></script>

<script charset="UTF-8" type="text/javascript" src="{%static 'web/jquery/plugin/jquery-ui.min.js'%}"></script>
        <script>
            function last_region_click(region_id)
        {

        $.post("{%url 'web:update_scope'%}",{'region_id':region_id}
            ,function(data){

                location.reload();
            })


}
        </script>
{%endblock%}
{%block header_script%}
$.djangocsrf( "enable" );
   $('.scope-delete').click(
            function(e)
            {
                if(!confirm('{%trans "确定删除此活动范围?"%}'))
                {
                    return false;
                }
                $.post("{%url 'web:delete_scope'%}",{'user_scope_id':$(this).attr('sid')},
                function(data){
                location.reload();
                });
            }
            );
{%endblock%}
{%block header%}
{%trans '我的活动范围'%}
{%endblock%}
{%block content%}
<div class="ui-body ui-body-a ui-corner-all">
    <div>{%trans '已选范围'%}</div>
   {%for scope in scopes%}


           <a href="#" sid="{{scope.id}}" data-rel="back" class="scope-delete ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left ">
               {{scope.region.get_parent.get_parent.region_name}}{{scope.region.get_parent.region_name}}{{scope.region.region_name}}
           </a>





    {%endfor%}
</div> 
<div class="ui-body ui-body-a ui-corner-all">
    <div>{%trans '增加新范围'%}</div>
    {{request|get_region_select_tab}}
</div>  


{%endblock%}