{%load staticfiles%}
{% load i18n %}
<div data-role="tabs"  id="tabs_region">
     <div data-role="navbar">
        <ul>
            <li><a id="tl-0" href="/region/region_list/1">省/直辖市</a> </li>
            <li><a id='tl-1' href="#tabs-2">市</a> </li>
            <li><a id='tl-2' href="#tabs-3">区县</a> </li>
        </ul>
         </div>
        <div id="tabs-1"> </div>
        <div id="tabs-2"> </div>
        <div id="tabs-3"> </div>
    </div>
        <script>
            $(function(){
                //load top level

                   var tabs= $("#tabs_region").tabs();

                    $(document).on('click'
                                ,'.region_item'
                                ,function(e){
                                     //get region_level

                                    level=parseInt($(this).attr('level'));
                                     rid=parseInt($(this).attr('rid'));
                                    if(level==3)
                                    {
                                        last_region_click(rid);
                                    }
                                    $('#tl-'+(level-1)).text($(this).text());

                                     $('#tl-'+level).attr('href','/region/region_list/'+rid);
                                      //$( "#tabs_region" ).tabs( 'refresh' );
                                      $( "#tabs_region" ).tabs( "option", "active", level);

                                });

                });
        </script>