{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YiQiWan</title>
	<link rel="stylesheet" href="{%static 'web/jquery/jquery_mobile/css/themes/default/jquery.mobile-1.4.5.min.css'%}">
    <link rel="stylesheet" href="{%static 'web/jquery/jquery_mobile/css/themes/default/theme-classic.css'%}">

	<script src="{%static 'web/jquery/jquery.min.js'%}"></script>
	<script src="{%static 'web/jquery/jquery_mobile/jquery.mobile-1.4.5.min.js'%}"></script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">
{%block content%}
{%endblock%}
</body>
</html>